.chatInput {
    border-radius: 20px;
}

.chatInput>form {
    display: flex;
    height: 3em;
}


.chatInput>form>input {
    bottom: 30px;
    flex: 0.7;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px
}


.chatInput>form {
    margin: 2em;
    display: flex;
    justify-content: center;
}

.chatInput .button {
    width: 6em;
    position: relative;
    left: -6em;
    background-color: #0a8d48;
    color: white;
    border: none;
    cursor: pointer;
}